<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">  
    <preference for="Magento\Bundle\Block\Catalog\Product\View\Type\Bundle\Option\Checkbox" type="Solvingmagento\BundleExtended\Block\Catalog\Product\View\Type\Bundle\Option\Checkbox" />
    <preference for="Magento\Bundle\Model\Product\Type" type="Solvingmagento\BundleExtended\Model\Product\Type" />
    <preference for="Magento\Checkout\Controller\Cart\UpdatePost" type="Solvingmagento\BundleExtended\Controller\Cart\UpdatePost" />
    <preference for="Magento\Bundle\Helper\Catalog\Product\Configuration" type="Solvingmagento\BundleExtended\Helper\Catalog\Product\Configuration" />
    <preference for="Magento\Checkout\Model\Cart" type="Solvingmagento\BundleExtended\Model\Cart" />
</config>
