<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">  
    <preference for="Magento\Bundle\Block\Adminhtml\Catalog\Product\Edit\Tab\Bundle\Option" type="Solvingmagento\BundleExtended\Block\Adminhtml\Catalog\Product\Edit\Tab\Bundle\Option" />
    <preference for="Magento\Bundle\Block\Adminhtml\Catalog\Product\Edit\Tab\Bundle\Option\Selection" type="Solvingmagento\BundleExtended\Block\Adminhtml\Catalog\Product\Edit\Tab\Bundle\Option\Selection" />
</config>